<div class="row">
  <div class="col-xs-12">
    <app-recipe-item
      *ngFor="let recipeEl of recipes"
      [recipe]="recipeEl" (recipeSelected)="onRecipeSelected(recipeEl)"></app-recipe-item>
  </div>
</div>
<br>
<br>
<hr>
<div class="row">
  <div class="col-xs-12">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addRecipeModal">
      New Recipe
    </button>

    <!-- Modal -->
    <div class="modal fade" id="addRecipeModal" tabindex="-1" role="dialog" aria-labelledby="addRecipeModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title modal-header-size" id="addRecipeModalLabel">Add New Recipe</h5>
            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="row">
              <div class="col-xs-12">
                <form class="form-horizontal" #addNewRecipeForm="ngForm" novalidate>

                  <div class="form-group">
                    <label class="control-label col-sm-3 " for="name">Name:</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="name" #name placeholder="Please enter recipe name">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-sm-3 " for="description">Description:</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="description" #description placeholder="Please enter recipe description">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-sm-3 " for="url">Recipe Image Url:</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="url" #url placeholder="Please enter recipe impage url">
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="onSave(name.value, description.value, url.value)" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>


